---
pretitle: Recess Mobile &mdash;
title: SMS API documentation
created_at: Thu May 28 2009
updated_at: Tue Jun 01 2010
filter:
  - haml
  - erb
  - basepath
layout: api
extension: html
dirty: true
version: 1.55
sitename: The SMS API
---

#headerTextBlock.span-20.prepend-1.append-1.last
  .span-6.prepend-1
    %h2
      %a{ :href => "#api" } API
    %ul.mainNav
      %li
        %a{ :href => "#api-general" } General
      %li
        %a{ :href => "#api-keywords" }  Keywords
      %li
        %a{ :href => "#api-messaging" }  Messaging
      %li
        %a{ :href => "#api-subscriptions" }  Subscriptions
      %li
        %a{ :href => "#api-carriers" }  Carriers        
  .span-6
    %h2
      %a{ :href => "#callbacks" }Callbacks
    %ul.mainNav
      %li
        %a{ :href => "#callbacks-general" }  General
      %li
        %a{ :href => "#callbacks-sessions" }  Sessions
      %li
        %a{ :href => "#callbacks-subscriptions" }  Subscriptions
  .span-7.last
    %h2
      %a{ :href => "#modules" }Modules
    %ul.mainNav
      %li
        %a{ :href => "#modules-general" }  General
      %li
        %a{ :href => "#modules-help" }  Help
      %li
        %a{ :href => "#modules-static-responses" }  Static Responses
      %li
        %a{ :href => "#modules-subscriptions" }  Subscriptions
      %li
        %a{ :href => "#modules-welcome" }  Welcome
  .span-6.prepend-1
    %h2
      %a{ :href => "#architecture" } Architecture
    %br
    %br
  .span-10.last
    %h2
      %a{ :href => "#faq" } FAQ
    %ul.mainNav
      %li
        %a{ :href => "#faq-general" } General
      %li
        %a{ :href => "#faq-sending" } Sending Messages to Phones
      %li
        %a{ :href => "#faq-sessions" } Sessions
      %li
        %a{ :href => "#faq-keywords" } Keywords
      %li
        %a{ :href => "#faq-subscriptions" } Subscriptions
      %li
        %a{ :href => "#faq-static" } Static Responses
      %li
        %a{ :href => "#faq-customizing" } Customizing Module Messages
  %hr.spacer
  .span-7.prepend-1
    %h3
      %a{ :href => "mailto:support@recessmobile.com" }support@recessmobile.com
  .span-7.prepend-1.last
    %h3
      %a{ :href => "/", :title => "Back to Private Label SMS home"}
        %span &larr; 
        Return home
%hr.spacer
#documentationContent
  #api.span-20.prepend-1.append-1.last
    %h2.header API
    #api-general
      %h1.subtitle General
      = render :partial => "api/api/general"
    #api-keywords
      %h1.subtitle Keywords
      = render :partial => "api/api/keywords"
    #api-messaging
      %h1.subtitle Messaging
      = render :partial => "api/api/messaging"
    #api-subscriptions
      %h1.subtitle Subscriptions
      = render :partial => "api/api/subscriptions"
    #api-carriers
      %h1.subtitle Subscriptions
      = render :partial => "api/api/carriers"
  #callbacks.span-20.prepend-1.append-1.last
    %h2.header Callbacks
    #callbacks-general
      %h1.subtitle General
      = render :partial => "api/callbacks/general"
    #callbacks-sessions
      %h1.subtitle Sessions
      = render :partial => "api/callbacks/sessions"
    #callbacks-subscriptions
      %h1.subtitle Subscriptions
      = render :partial => "api/callbacks/subscriptions"
  #modules.span-20.prepend-1.append-1.last
    %h2.header Modules
    #modules-general
      %h1.subtitle General
      = render :partial => "api/modules/general"
    #modules-help
      %h1.subtitle Help
      = render :partial => "api/modules/help"
    #modules-static-responses
      %h1.subtitle Static Responses
      = render :partial => "api/modules/static-responses"
    #modules-subscriptions
      %h1.subtitle Subscriptions
      = render :partial => "api/modules/subscriptions"
    #modules-welcome
      %h1.subtitle Welcome
      = render :partial => "api/modules/welcome"
  #architecture.span-20.prepend-1.append-1.last
    %h2.header Architecture
    = render :partial => "api/architecture"
  #faq.span-20.prepend-1.append-1.last
    %h2.header FAQ
    = render :partial => "faq"
